* { box-sicing: border-box; padding: 0; margin: 0; font-family: 'Source Sans Pro', sans-serif; font-sizing: 12px;}

:root {
  --navmenu-height: 47px;
  --color-blue-20: #00203d;
  --color-blue-3f: #003f7a;
  --color-blue-4a: #004A8F;
  --color-blue-339c: #339CFF;
  --color-blue-b8d: #B8DDFF;
  --color-blue-075: #0758A4;
  --color-blue-0349: #03498B;

  --text-small: 14px;
  --text-semismall: 16px;
  --text-medium: 18px;
  --text-big: 20px;
}

/* HEADER */
#header {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.header-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  background: var(--color-blue-3f);
  border-bottom: 1px solid var(--color-blue-4a);
  top: 0;
  z-index: 6;
}

.header-nav-content {
  width: 100%;
  height: var(--navmenu-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  width: 24px;
  margin-left: 13px;
}

.nav-menu {
  display: none;
  width: 100%;
  position: absolute;
  top: calc(var(--navmenu-height) + 1px);
  background: var(--color-blue-3f);
  padding: 0.5em 0;
  border-bottom: 1px solid var(--color-blue-4a);
}

.show-nav-menu {
  display: block;
  animation: showNavMenuAnimation .3s ease-in-out;
}

@keyframes showNavMenuAnimation {
  from {
    opacity: 0;
    transform: scale(0.2);
    top: -50px;
    right: -250px;
  } to {
    opacity: 1;
    transform: scale(1);
    top: calc(var(--navmenu-height) + 1px);
    right: 0;
  }
}

.nav-menu-list-item {
  list-style: none;
}
.nav-menu-list-item a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  font-size: 12px;
  text-decoration: none;
  color: #fff;
  transition: color .2s ease-in-out;
}

.nav-menu-list-item a:hover {
  color: #dcdcdc;
}

.header-nav-menubutton {
  width: 26px;
  height: 26px;
  background: none;
  border: none;
  margin-right: 13px;
  cursor: pointer;
}

.welcome {
  width: 100%;
  height: 273px;
  background: var(--color-blue-3f);
  padding-top: calc(var(--navmenu-height));
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.welcome-image img{
  width: 195px;
}

.welcome-content {
  margin-left: 1em;
}

.welcome-content h4{
  color: #fff;
  font-weight: normal;
  font-size: 14px;
}
.welcome-content h3 {
  font-size: 18px;
  font-weight: bold;
  color: var(--color-blue-339c);
}

.welcome-social-list {
  list-style: none;
  display: flex;
  margin: 9px 0;
}

.welcome-social-list-item a img {
  width: 20px;
  margin: 0 0.2em;
}

.welcome_cv_button {
  width: 106px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: var(--color-blue-075);
  font-size: 12px;
  color: #fff;
  font-weight: normal;
  border-radius: 3px;
  transition: all .3s ease-in-out;
}

.welcome_cv_button:hover {
  background: #fff;
  color: var(--color-blue-075);
}

.carousel-highlights {
  width: 100%;
  height: 273px;
  background: var(--color-blue-0349);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.carousel-content {
  width: 100%;
  height: 253px;
}

.carousel-item {
  width: 100%;
  height: 253px;
  margin-left: 36px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;
  top: 0;
  margin: 0;
}

.carousel-grid {
  width: 177px;
  height: 223px;
  margin-left: 42px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 4;
}

.show-slide {
  opacity: 1;
  position: static;
}

.slide-circle-navigation-active {

}

.carousel-content-description {
  width: 177px;
  font-size: 12px;
  color: #fff;
  margin-bottom: 14px;
  animation: carouselText 1s ease-in-out;
}

@keyframes carouselText {
  from {
    opacity: 0;
    margin-left: -360px;
  } to {
    opacity: 1;
    margin-left: 0;
  }
}

.carousel-content-actions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  position: absolute;
  top: 193px;
  animation: carouselContentActions 1.3s ease-in-out;
}

@keyframes carouselContentActions {
  from {
    opacity: 0;
    top: 300px;
  } to {
    opacity: 1;
    top: 193px;
  }
}
.carousel-content-button {
  width: 100%;
  height: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-blue-075);
  font-size: 12px;
  color: #fff;
  text-decoration: none;
  margin: 0 2px;
  border-radius: 4px;
  transition: background .2s ease-in-out;
}
.carousel-content-button:hover {
  background: var(--color-blue-4a);
}
.carousel-content-button img {
  width: 8px;
  margin-right: 5px;
}

.title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.title-section-animation {
  animation: titleSection 1.2s ease-in-out;
}

@keyframes titleSection {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}
.title-section p {
  font-size: var(--text-semismall);
  font-weight: 400;
  color: var(--color-blue-339c);
}
.title-section img {
  width: 32px;
}

.carousel-actions {
  width: 100%;
  position: absolute;
  z-index: 3;
}
.carousel-actions-buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
}

.carousel-btn {
  width: 46px;
  height: 46px;
  background: var(--color-blue-075);
  border: none;
  border-radius: 100%;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

.carousel-btn:hover {
  background: var(--color-blue-4a);
}
.carousel-btn-prev {
  justify-content: end;
  margin-left: -15px;
}
.carousel-btn-prev img {
  width: 10px;
  position: absolute;
  right: 33%;
}
.carousel-btn-next {
  justify-content: start;
  margin-right: -15px;
}
.carousel-btn-next img {
  width: 10px;
  position: absolute;
  left: 33%;
}

.carousel-image-container {
  width: 190px;
  position: relative;
}
.carousel-content-image {
  overflow: hidden;
  transform: rotate(35deg);
  top: -140px;
  right: -120px;
  position: absolute;
  z-index: 2;
  animation: carouselImg .8s ease-in-out;
}

@keyframes carouselImg {
  from {
    opacity: 0;
    right: -300px;
  } to {
    opacity: 1;
    right: -120px;
  }
}

.carousel-content-image-container {
  width: 210px;
  height: 210px;
  background: var(--color-blue-075);
  border-radius: 18px;
  overflow: hidden;
}
.carousel-content-image-container img {
  width: 180%;
  margin-top: 35px;
  margin-left: -120px;
  transform: rotate(-35deg);
  animation: carouselImageAnimation 1.8s ease-in-out;
}
@keyframes carouselImageAnimation {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

.carousel-image-bg {
  width: 250px;
  height: 170px;
  transform: rotate(35deg);
  background: var(--color-blue-075);
  border-radius: 18px;
  position: absolute;
  top: -50px;
  right: -80px;
  animation: carouselBg .4s ease-in-out;
}

@keyframes carouselBg {
  from {
    opacity: 0;
    right: -180px;
  } to {
    opacity: 1;
    right: -80px;
  }
}


.carousel-actions-navigation {
  display: none;
}

/* HEADER END */

/* ABOUT ME */
#aboutme {
  background: rgba(184, 221, 255, 0.1);
  padding: 108px 35px;
}

.aboutme-content {
  display: grid;
  opacity: 0;
}

.aboutme-content-animation {
  opacity: 1;
}

.aboutme-content .title-section {
  grid-row: 1;
}
.aboutme-image {
  width: 100%;
  grid-row: 2;
  display: flex;
  justify-content: center;
}
.aboutme-image img{
  width: 150px;
  margin: 14px 0;
}

.about-image-animation {
  animation: aboutMeImage .8s ease-in-out;
}

@keyframes aboutMeImage {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

.aboutme-text {
  grid-row: 3;
  text-align: justify;
  line-height: 150%;
  color: #3f3f3f;
}

.aboutme-text-animation {
  animation: aboutmeText 2s ease-in-out;
}

@keyframes aboutmeText {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

/* ABOUTME END */

/* PROJECTS */
#projects {
  margin-top: 128px;
  overflow: hidden;
}

.projects {
  opacity: 0;
}

.projects-animation {
  opacity: 1;
}

.projects-content {
  width: 100%;
  margin-top: 34px;
  display: flex;
  justify-content: center;
  position: relative;
}

.project-item {
  width: 313px;
  height: 200px;
  background: var(--color-blue-3f);
  border-radius: 12px;
  overflow: hidden;
  background-size: 150%;
  background-repeat: no-repeat;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: none;
}

.project-item-animation {
  animation: showProjectAnimation .4s ease-in-out;
}

.show-post-container {
  display: block;
}

@keyframes showProjectAnimation {
  from {
    opacity: 0;
    margin-left: 5em;
  } to {
    opacity: 1;
    margin-left: 0;
  }
}

.project-item-content {
  width: 100%;
  height: 160px;
  background: linear-gradient(280deg, var(--color-blue-3f) 68%, transparent 30%);
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  justify-content: space-between;
  align-items: end;
  color: #fff;
}

.project-item-texts {
  width: 175px;
  margin-right: 27px;
  text-align: end;
}

.project-item-title {
  font-size: var(--text-small);
  font-weight: 700;
}

.project-item-tools {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.project-item-description {
  font-size: 12px;
  font-weight: 300;
}

.project-item-actions {
  width: 195px;
  margin-right: 22px;
  display: flex;
  justify-content: space-between;
}

.project-item-button {
  width: 100%;
  margin: 0 4px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  background: rgba(51, 156, 255, 0.15);
  border-radius: 3px;
  transition: background .2s ease-in-out;
  cursor: pointer;
}
.portfolio-btn-end {
  pointer-events: none;
  opacity: 0;
}
.project-item-button:hover {
  background: rgba(51, 156, 255, 0.23);
}

.projects-navigation {
  width: 185px;
  position: absolute;
}
.projects-navigation-btn {
  width: 38px;
  height: 38px;
  border-radius: 100%;
  background: #fff;
  border: 1px solid var(--color-blue-3f);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: absolute;
  transition: all .2s ease-in-out;
}
.navigation-btn-prev {
  left: -78px;
  top: 80px;
}
.navigation-btn-next {
  left: 226px;
  top: 80px;
}
.projects-navigation-btn:hover{
  filter: brightness(2);
  box-shadow: 2px 2px 10px rgba(51, 156, 255, 0.2);
}
.projects-navigation-btn img {
  width: 10px;
}

/* END PROJECTS */

/* SKILLS */

#skills {
  width: 100%;
}

.skills-container {
  height: 340px;
  overflow: hidden;
  margin-top: 128px;
  background: url(../img/bg/skills.svg) no-repeat 130% 60%;
  background-size: 50%;
  opacity: 0;
}

.skills-container-animation {
  opacity: 1;
  animation: skillsContainerAnimation .7s ease-in;
}

@keyframes skillsContainerAnimation {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

.skills-content {
  width: 100%;
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-content-images {
  width: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-content-item {
  width: 64px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}

.skills-content-item-animation {
  animation: skillsItemsAnimation 1s ease-in-out;
}

@keyframes skillsItemsAnimation {
  from {
    opacity: 0;
    margin-top: 150px;
  } to {  
    opacity: 1;
    margin-top: 10px;
  }
}

.skills-content-item img{
  width: 42px;
  margin-bottom: 10px;
  /* filter: grayscale(100%); */
  transition: all .3s;
}
.skills-content-item img:hover {
  filter: grayscale(0);
}
/* .skills-content-item:hover .skills-content-item-legend{
  opacity: 1;
  animation: skillsContentItemText .5s ease-in-out;
} */

.skills-content-item-legend {
  font-size: 12px;
  color: #3f3f3f;
  opacity: 1;
  animation: skillsContentItemText .5s ease-in-out;
}

@keyframes skillsContentItemText {
  from {
    opacity: 0;
    margin-left: -10px;
  } to {
    opacity: 1;
    margin-left: 0;
  }
}

.skills-content-others {
  margin-top: 30px;
  text-align: center;
}

.skills-content-others-animation {
  animation: skillsOthersAnimation 1.3s ease-in-out;
}

@keyframes skillsOthersAnimation {
  from {
    opacity: 0;
    margin-top: 150px;
  } to {
    opacity: 1;
    margin-top: 30px;
  }
}

.skills-others-texts small {
  color: #797979;
  cursor: pointer;
  transition: all .2s ease-in-out;
}
.skills-others-texts small:hover {
  color: #3f3f3f;
}

/* END SKILLS */

/* CONTACTME */
#contactme {
  width: 100%;
  height: 280px;
  margin-top: 128px;
  display: flex;
  justify-content: center;
}
.contactme-container {
  width: 100%;
  max-width: 1366px;
  height: 280px;
  background: url(../img/bg/contactme.svg) no-repeat 0 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 6em;
  justify-content: center;
  overflow: hidden;
  opacity: 0;
}

.contactme-container-animation {
  opacity: 1;
  animation: contactmeContainerAnimation .7s ease-in;
}

@keyframes contactmeContainerAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.contactme-item {
  display: flex;
  align-items: center;
  font-size: var(--text-small);
  color: #797979;
  margin: 0.5em 0;
}

.contactme-item a:hover {
  color: #b0b0b0;
}

.contactme-item-animation {
  animation: contactmeItem 1s ease-in-out;
}

@keyframes contactmeItem {
  from {
    margin-right: -150px;
    opacity: 0;
  } to {
    margin-right: 0;
    opacity: 1;
  }
}
.contactme-item a {
  text-decoration: none;
  color: #797979;
  margin-left: 0.5em;
  transition: color .4s;
}
.contactme-item img {
  width: 20px;
  margin-right: 0.5em;
}
/* END CONTACTME */

/* FOOTER */
footer {
  margin-top: 108px;
}
.footer-content {
  width: 100%;
  background: var(--color-blue-3f);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em 0;
}

.menu-list {
  list-style: none;
  text-align: center;
}
.menu-list-item {
  margin: 0.4em 0;
}
.menu-list-item a {
  text-decoration: none;
  color: #fff;
  font-size: var(--text-small);
  font-weight: 400;
  transition: color .2s;
}
.menu-list-item a:hover {
  color: #dcdcdc;
}

.social-list {
  list-style: none;
  display: flex;
  margin-top: 2em;
}

.social-list-item {
  margin: 0 0.5em;
}
.social-list-item a img {
  width: 45px;
  transition: all .3s;
}

.social-list-item a img:hover {
  filter: sepia(20%);
}

.footer-assignment {
  width: 100%;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #043462;
}

.footer-assignment p {
  font-size: var(--text-small);
  color: #fff;
}

.footer-assignment p a {
  text-decoration: none;
  font-weight: 700;
  color: #fff;
}

/* FOOTER END */

@media screen and (min-width: 800px) {
  /* HEADER */
  .header-nav-content {
    max-width: 1080px;
  }
  .header-nav-menubutton {
    display: none;
  }

  .nav-menu {
    width: 370px;
    display: block;
    position: relative;
    top: 0;
    background: none;
    padding: 0;
    border-bottom: none;
  }

  .nav-menu-list {
    display: flex;
  }
  .nav-menu-list-item {
    margin: 0 0.5em;
  }
  .nav-menu-list-item a {
    font-size: var(--text-small);
  }

  .welcome {
    height: 400px;
  }
  
  .welcome-image img{
    width: 446px;
  }
  
  .welcome-content {
    margin-left: 8em;
  }
  
  .welcome-content h4{
    font-size: 24px;
  }
  .welcome-content h3 {
    font-size: 36px;
  }
  
  .welcome-social-list {
    list-style: none;
    display: flex;
    margin: 9px 0;
  }
  
  .welcome-social-list-item a img {
    width: 30px;
    margin: 0 0.3em;
  }
  
  .welcome_cv_button {
    width: 212px;
    height: 35px;
    font-size: 14px;
    cursor: pointer;
  }

  .carousel-highlights {
    height: 418px;
  }

  .carousel-content {
    width: 750px;
    height: 390px;
  }

  .carousel-content-description {
    width: 100%;
    font-size: 14px;
  }

  .carousel-item {
    height: 380px;
    margin-left: 0;
  }

  .carousel-grid {
    width: 380px;
    height: 320px;
    margin-left: 0;
  }

  .carousel-content-actions {
    top: 250px;
    z-index: 4;
  }

  @keyframes carouselContentActions {
    from {
      opacity: 0;
      top: 300px;
    } to {
      opacity: 1;
      top: 250px;
    }
  }

  .slide-circle-navigation-active {

  }

  .title-section {
    margin-bottom: 30px;
  }
  .title-section p {
    font-size: var(--text-big);
  }
  .title-section img {
    width: 38px;
  }

  .carousel-actions {
    width: 900px;
  }

  .carousel-btn {
    width: 60px;
    height: 60px;
    display: flex; 
    justify-content: center;
  }
  .carousel-btn-prev {
    margin-left: 0;
  }
  .carousel-btn-prev img {
    position: relative;
    right: 0;
  }
  .carousel-btn-next {
    justify-content: center;
    margin-right: 0;
  }
  .carousel-btn-next img {
    position: relative;
    left: 0;
  }

  .carousel-content-image {
    transform: rotate(35deg);
    top: -140px;
    right: 0;
  }

  @keyframes carouselImg {
    from {
      opacity: 0;
      right: -300px;
    } to {
      opacity: 1;
      right: 0;
    }
  }

  .carousel-content-image-container {
    width: 230px;
    height: 230px;
  }
  .carousel-content-image-container img {
    width: 230%;
    margin-top: -100px;
    margin-left: -80px;
  }

  .carousel-image-bg {
    width: 250px;
    height: 230px;
    top: -40px;
    left: -150px;
  }

  @keyframes carouselBg {
    from {
      opacity: 0;
      left: 180px;
    } to {
      opacity: 1;
      left: -150px;
    }
  }


  .carousel-actions-navigation {
    display: none;
    bottom: 0;
  }
  /* HEADER end */

  /* ABOUTME */
  #aboutme {
    overflow:hidden;
    display: flex;
    justify-content: center;
  }
  .aboutme-content {
    max-width: 1366px;
    grid-template-column: repeat(2, 1fr);
  }
  
  .aboutme-content .title-section {
    grid-column: 2;
    grid-row: 1;
  }
  .aboutme-image {
    width: 450px;
    position: relative;
    grid-column: 1;
    grid-row: 1;
    margin-top: 3em;
  }
  .aboutme-image img{
    position: absolute;
    width: 520px;
    margin: 0;
    margin-left: -150px;
  }
  
  @keyframes aboutMeImage {
    from {
      opacity: 0;
      margin-left: -300px;
    } to {
      opacity: 1;
      margin-left: -150px;
    }
  }
  
  .aboutme-text {
    grid-row: 2;
    grid-column: 2;
    font-size: 18px;
  }

  .aboutme-text-animation {
    animation: aboutmeText 0.8s ease-in-out;
  }
  
  @keyframes aboutmeText {
    from {
      opacity: 0;
      margin-right: -200px;
    } to {
      opacity: 1;
      margin-right: 0;
    }
  }
  /* ABOUTME END */

  /* PROJECTS */
  #projects {
    margin-top: 168px;
    margin-bottom: 108px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .projects-content {
    max-width: 1366px;
    position: relative;
    display: flex;
    justify-content: center;
  }

  .projects-items {
    display: flex;
  }

  .project-item {
    width: 380px;
    height: 220px;
    margin: 0 0.5em;
  }

  .project-item-content {
    height: 180px;
    background: linear-gradient(280deg, var(--color-blue-3f) 65%, transparent 30%);
  }

  .project-item-texts {
    width: 195px;
    margin-right: 27px;
    text-align: end;
  }

  .carousel-content-button {
    height: 36px;
    font-size: 14px;
  }

  .carousel-content-button img {
    width: 12px;
    margin-right: 5px;
  }

  .project-item-title {
    font-size: 16px;
  }

  .project-item-description {
    font-size: 14px;
  }

  .projects-navigation {
    width: 760px;
  }
  .navigation-btn-prev {
    left: -28px;
    top: 95px;
  }
  .navigation-btn-next {
    left: 749px;
    top: 95px;
  }

  /* END PROJECTS */

  /* SKILLS */

  #skills {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .skills-container {
    width: 100%;
    max-width: 1366px;
    height: 480px;
    background: url(../img/bg/skills.svg) no-repeat 108% 50%;
    background-size: 34%;
  }

  .skills-content-images {
    width: 320px;
  }

  .skills-content-item {
    width: 88px;
  }

  .skills-content-item img{
    width: 72px;
    filter: grayscale(100%);
  }
  .skills-content-item img:hover {
    filter: grayscale(0);
  }
  .skills-content-item:hover .skills-content-item-legend{
    opacity: 1;
    animation: skillsContentItemText .5s ease-in-out;
  }

  .skills-content-item-legend {
    font-size: 14px;
    opacity: 0;
    animation: none;
  }

  /* END SKILLS */

  /* CONTACTME */
  #contactme {
    height: 400px;
    align-items: center;
  }
  .contactme-container {
    height: 400px;
    background-size: 380px;
    padding-left: 0;
  }

  .contactme-item {
    font-size: 18px;
    margin: 1em 0;
  }
  .contactme-item img {
    width: 30px;
    margin-right: 0.8em;
  }
  /* END CONTACTME */

  /* FOOTER */
  footer {
    margin-top: 108px;
  }
  .footer-content {
    display: flex;
    flex-direction: row;
    padding: 3em 0;
  }

  .menu-list {
    list-style: none;
    text-align: center;
  }
  .menu-list-item {
    margin: 1em 5em;
  }
  .social-list-item a img {
    width: 65px;
  }

  /* FOOTER END */
}


@media screen and (min-width: 1280px) {
  :root {
    --navmenu-height: 63px;
  }
  /* HEADER */
  .nav-logo img{
    width: 38px;
  }

  .carousel-highlights {
    height: 488px;
  }

  .carousel-content {
    width: 1050px;
  }

  .carousel-grid {
    width: 490px;
  }

  .carousel-actions-navigation {
    display: block;
    position: absolute;
    margin-bottom: -195px;
    left: 50%;
  }

  .carousel-btn-navigation {
    background: none;
    border: 1px solid #fff;
    border-radius: 100%;
    margin: 0 0.3em;
    width: 18px;
    height: 18px;
  }

  .slide-circle-navigation-active {
    background: #fff;
  }

  .carousel-actions {
    width: 1200px;
  }

  .carousel-content-image {
    transform: rotate(35deg);
    top: -180px;
    right: 0;
  }

  .carousel-content-description {
    font-size: 16px;
  }

  .carousel-content-button {
    background: var(--color-blue-075);
    background: none;
    color: #fff;
    transition: all .2s ease-in-out;
  }
  .carousel-content-button:hover {
    background: #fff;
    color: #6f6f6f;
  }
  .carousel-content-button:hover img {
    filter: invert(70%);
  }

  .carousel-content-image-container {
    width: 330px;
    height: 330px;
  }
  .carousel-content-image-container img {
    width: 260%;
    margin-top: -60px;
    margin-left: -260px;
  }

  .carousel-image-bg {
    width: 340px;
    height: 330px;
    top: -120px;
    left: -240px;
  }

  @keyframes carouselBg {
    from {
      opacity: 0;
      left: 240px;
    } to {
      opacity: 1;
      left: -240px;
    }
  }
  /* HEADER end */

  /* ABOUTME */
  #aboutme {
    height: 550px;
  }
  /* ABOUTME END */

  /* PROJECTS */
  .project-item-button {
    background: none;
  }
  .project-item-button:hover {
    background: rgba(51, 156, 255, 0.15);
  }

  .projects-navigation {
    width: 1140px;
  }
  .navigation-btn-prev {
    left: -34px;
    top: 95px;
  }
  .navigation-btn-next {
    left: 1136px;
    top: 95px;
  }

  /* END PROJECTS */

  /* SKILLS */
  /* END SKILLS */

  /* CONTACTME */
  /* END CONTACTME */

  /* FOOTER */

  /* FOOTER END */
}

@media screen and (min-width: 1282px) {
  .skills-container {
    background: url(../img/bg/skills.svg) no-repeat 100% 50%;
  }
}